<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #000000;">
    <a class="navbar-brand" href="#">Subdmin Dashboard</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subadmin_add_police_station' %}">Add Police Stations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subadmin_manage_station' %}">Manage Police Stations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subadmin_add_criminals' %}">Add Criminals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subadmin_manage_criminals' %}">Manage Criminals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subadmin_search_image' %}">Search Criminals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts_logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>