{% extends 'admin/shared/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

    <div class="row m-5 bg-light rounded shadow">
        <div class="col-md-12 text-center">
            <h3>Sub Admin List</h3>
            <table class="table table-stripped table-white">
                <tr>
                    <th>Sl No.</th>
                    <th>Name</th>
                    <th>Email Id</th>
                    <th>Phone</th>
                    <th>Rank</th>
                    <th>Action</th>
                </tr>
                
                {% for i in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                        <td>{{ i.user.email }}</td>
                        <td>{{ i.phone }}</td>
                        <td>{{ i.rank }}</td>
                        <td>
                            <a href="{% url 'remove_sub_admin' sub_id=i.user.id %}" class="btn btn-danger">X</a>
                        </td>
                    </tr>
                {% endfor %}
                    
            </table>
        </div>
    </div> 

{% endblock content %}